<h1>About</h1>
<p>
This has been a project I have started and stopped many times.  After discovering <a href="http://rubyonrails.org/">Ruby on Rails</a> (what this site is made with), I believe I will finally have all the tools to create a site that my wife will want to use.  In a way this is very much a love letter to my wife.
</p>
