<h1>Welcome!</h1>
<p> This is a cookbook project I created to help organize and digitize our personal cookbooks.  I hope you like it! </p>

<%= link_to "Sign up", signup_path , :class => "signup_button round" %>




